<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tech-X-Tra 2024</title>

  </head>
  <body>
    <div class="wrapper">
      <div class="form-box register">
        <h2>REGISTRATION</h2>
        <form action="/reg" method="POST">
          <div class="input-box">
            <label for="">Name</label>
            <input
              type="text"
              name="name"
              required
            />

          </div>
          <div class="input-box">
            <label for="">E-mail</label>
            <input
              type="email"
              name="email"
              required
            />
          </div>

          <div class="input-box">
            <label for="">Phone</label>
            <input
              type="number"
              name="phone"
              required
            />
          </div>

          <button type="submit" class="btn">Register</button>
        </form>
      </div>
    </div>
  </body>
</html>